# Backend API URL
# In local dev: http://localhost:6000
# In Vercel production: https://keeper-sport-backend.vercel.app
VITE_API_URL=https://keeper-sport-backend.vercel.app

# Google OAuth 2.0 Web Client ID
VITE_GOOGLE_CLIENT_ID=1062540118427-33h5nnpasi9sq5lqoiij6umjmjscenu1.apps.googleusercontent.com
